*,
*::before,
*::after {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

html {
  scroll-behavior: smooth;
  text-size-adjust: 100%;
}

body {
  min-height: 100vh;
  overflow-x: hidden;
  background-color: var(--color-bg-dark);
  font-family: var(--font-main);
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  line-height: 1.5;
  color: var(--color-text-primary);
}

ul,
ol {
  list-style: none;
}

img,
svg {
  display: block;
  max-width: 100%;
  height: auto;
}

a {
  display: inline-block;
  text-decoration: none;
  color: inherit;
  transition: color var(--transition-fast);
}

button,
input,
textarea,
select {
  outline: none;
  border: none;
  background: none;
  font-family: inherit;
  font-size: inherit;
}

button {
  cursor: pointer;
}

::-webkit-scrollbar {
  width: 8px;
}

::-webkit-scrollbar-track {
  background: var(--color-bg-dark);
}

::-webkit-scrollbar-thumb {
  border-radius: var(--radius-sm);
  background: var(--color-border);

  &:hover {
    background: var(--color-border-hover);
  }
}
