@use "../../styles/base/config" as *;

.footer {
  inline-size: 100%;
  padding-block: rem(32) rem(64);
  background-color: $color-background;

  &__container {
    inline-size: 100%;
  }

  &__content {
    display: flex;
    justify-content: center;
    align-items: center;
    padding-block-start: rem(32);
    border-block-start: rem(1) solid
      color-mix(in srgb, $color-border 50%, transparent);
  }

  &__copyright {
    color: color-mix(in srgb, $color-text-muted 60%, transparent);
    font-family: $font-main;
    font-size: var(--font-size-xs);
    font-weight: var(--font-weight-regular);
    text-align: center;
  }
}
