@use "config" as *;

.container {
  inline-size: 100%;
  max-inline-size: rem(1440);
  margin-inline: auto;
  padding-inline: rem(24);

  @include respond-to("tablet") {
    padding-inline: rem(48);
  }
}

.visually-hidden {
  position: absolute;
  inline-size: 1px;
  block-size: 1px;
  margin: -1px;
  padding: 0;
  overflow: hidden;
  border: 0;
  clip: rect(0, 0, 0, 0);
  white-space: nowrap;
}

.divider {
  position: absolute;
  inset-block-start: 0;
  inset-inline: 0;
  block-size: rem(1);
  background: linear-gradient(
    to right,
    transparent,
    var(--color-border),
    transparent
  );
}
